@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --default-color: #7E2725;
}

::selection {
    background-color: var(--default-color);
    color: white;
}

body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que a altura mínima da tela ocupe a tela inteira */
    background-color: var(--default-color);
    padding: 20px;
    margin: 0; 
}

.container {
    max-width: 850px;
    width: 100%; 
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 30px 40px;
    gap: 30px; 
}

.container .login-form {
    width: 50%;
}

.container .login-form .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}

.container .login-form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background-color: var(--default-color);
}

.container .login-form .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 15px 0;
    position: relative;
}

.container .login-form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.container .login-form .input-box input:focus,
.container .login-form .input-box input:valid {
    border-color: var(--default-color);
}

.container .login-form .input-box input[type="submit"] {
    width: 100%;
    padding: 8px 20px;
    background-color: var(--default-color);
    border: 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-start;
}

.container .login-form .input-box i {
    position: absolute;
    color: var(--default-color);
    font-size: 17px;
}

.container .login-img {
    width: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

.container .login-img img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .login-img {
        display: none !important; /
    }

    .login-form {
        width: 100% !important; 
    }
}




