<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Responsivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>Pousada Ypuã</h1>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="/" class="nav-link">Início</a></li>
                    <li class="nav-item"><a href="/clientes" class="nav-link">Clientes</a></li>
                    <li class="nav-item"><a href="/pousadas" class="nav-link">Pousadas</a></li>
                    <li class="nav-item"><a href="/reservas" class="nav-link">Reservas</a></li>
                </ul>
            </div>
            <div class="deslogar-button">
                <button onclick="confirmLogout()"><a href="#">Deslogar</a></button>
            </div>
            
            <div class="mobile-menu-icon">
                <button onclick="menuShow()">
                    <img class="icon" src="{{ url_for('static', filename='img/menu_white_36dp (2).svg') }}" alt="Ícone do menu">
                </button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="/" class="nav-link">Início</a></li>
                <li class="nav-item"><a href="/clientes" class="nav-link">Clientes</a></li>
                <li class="nav-item"><a href="/pousadas" class="nav-link">Pousadas</a></li>
                <li class="nav-item"><a href="/reservas" class="nav-link">Reservas</a></li>
            </ul>
            <div class="deslogar-button">
                <button onclick="confirmLogout()"><a href="#">Deslogar</a></button>
            </div>
        </div>
    </header>
    
    <main class="dashboard container">
        <section class="card card1">
            <h2>Total de Pousadas</h2>
            <p>{{ total_pousadas }}</p>
        </section>
        <section class="card card2">
            <h2>Total de Reservas</h2>
            <p>{{ total_reservas }}</p>
        </section>
        <section class="card card3">
            <h2>Total de Hóspedes</h2>
            <p>{{ total_hospedes }}</p>
        </section>
        <section class="card card4">
            <h2>Média de Hóspedes por Reserva</h2>
            <p>{{ media_hospedes_por_reserva }}</p>
        </section>
        <section class="card card5">
            <h2>Valor Total Arrecadado</h2>
            <p>R$ {{ valor_total_arrecadado }}</p>
        </section>
        <section class="card card6">
            <h2>Pousada Mais Popular</h2>
            <p>{{ nome_pousada_mais_popular }}</p>
        </section>
    </main>

    <script>
        function confirmLogout() {
            if (confirm("Você realmente deseja sair?")) {
                window.location.href = "/logout";
            }
        }

        function menuShow(){
            let menuMobile = document.querySelector('.mobile-menu');
            if (menuMobile.classList.contains('open')){
                menuMobile.classList.remove('open');
                document.querySelector('.icon').src = "{{ url_for('static', filename='img/menu_white_36dp (2).svg') }}";
            } else {
                menuMobile.classList.add('open');
                document.querySelector('.icon').src = "{{ url_for('static', filename='img/close_white.svg') }}";
            }
        }
    </script>
</body>
</html>



