<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Pousadas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Botão de Retornar ao Menu -->
    <a href="/index" class="return-menu-button">Menu Principal</a>

    <header>
        <h1>Gerenciamento de Pousadas</h1>
        <!-- Div para mostrar mensagens de resultado -->
        <div id="resultado" class="result-box"></div>
    </header>

    <main class="container">
        <!-- Seção para cadastrar pousadas -->
        <section class="form-section">
            <h2>Cadastrar Pousada</h2>
            <input type="text" id="id_pousada" placeholder="ID da Pousada">
            <input type="text" id="nome_pousada" placeholder="Nome da Pousada">
            <input type="text" id="valor_pousada" placeholder="Valor da Pousada">
            <button onclick="cadastrarPousada()">Cadastrar Pousada</button>
        </section>
        
        <!-- Seção para listar e gerenciar pousadas com pesquisa e filtro -->
        <section class="list-section">
            <h2>Pousadas Cadastradas</h2>
            <input type="text" id="pesquisa_pousada" placeholder="Buscar por nome da pousada">
            <label for="filtro_pousada">Filtrar por:</label>
            <select id="filtro_pousada">
                <option value="todas">Todas</option>
                <option value="livres">Livres</option>
                <option value="reservadas">Reservadas</option>
            </select>
            <button onclick="aplicarFiltroPousadas()">Aplicar Filtro</button>
            <button id="botaoListarPousadas" onclick="listarPousadas()">Listar Todas as Pousadas</button>
            <ul id="lista_pousadas" style="display: none;"></ul>
        </section>
        
        <!-- Formulário para edição de pousada -->
        <div id="form_editar_pousada" class="hidden">
            <h3>Editar Pousada</h3>
            <input type="text" id="editar_id_pousada" readonly> <!-- ID da Pousada não é editável -->
            <input type="text" id="editar_nome_pousada" placeholder="Nome da Pousada">
            <input type="text" id="editar_valor_pousada" placeholder="Valor da Pousada">
            <label for="editar_status_pousada">Status:</label>
            <select id="editar_status_pousada">
                <option value="livre">Livre</option>
                <option value="reservada">Reservada</option>
            </select>
            <button onclick="salvarEdicaoPousada()">Salvar Alterações</button>
        </div>
    </main>

    <!-- Scripts para funcionalidades de pousada -->
    <script src="static/js/pousada.js"></script>
</body>
</html>
